<h1>Foster Agreement</h1>
<%= image_tag(@pet.image_url, :height => '250px') %><br/>
<h3>You have chosen <%= @pet.name %></h3><br/>
<p>
I agree to provide <%= @pet.name %> with a loving foster home, and to care for my pet as if it were my own child.
</p>

<%= button_to "Confirm", new_foster_parent_path(:pet_id => @pet.id) %>
<%= button_to 'Cancel', foster_path, method: :get %>
