<!DOCTYPE html>
<html>
<head>
  <title>MinesSwapper Bartering System</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div id="banner">
		<%= @page_title || "MinesSwapper" %>
	</div>
	<div id="columns">
		<div id="side">
			<u1>
				<li><a href="http://www.google.com">Google</a></li>
			</u1>
			<% if current_user %>
				<%= link_to "Edit Profile", edit_user_path(current_user.id) %>
				<%= link_to "Logout", :logout, method: :post %> 
			<% else %>
				<%= link_to "Register", new_user_path %>
				<%= link_to "Login", :login %>
			<% end %>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>

</body>
</html>
