<h1>Notice page for <%=current_user.username%></h1>

<h3>Here are trades offered to you(Trades this user has recieved)</h3>
<table id='recievedTable'>
	<tr>
		<td>User your trying to trade with</td>
		<td>What they want</td>
		<td>What they're offering</td>
		<td>Message given on trade(trade description)</td>
	</tr>
	<%#recieving trades should not be over 20%>
	<%#Trade.where(id = value) will return a database relation object which you can call take(n) to take up to n entries from and are put in an array %>
	<%Trade.where("user1 = #{current_user.id} and status=0").take(20).each do |trade| %>
		<tr>
			<td><%=User.find_by_id(trade.user2).username%></td>
			<td><%=Item.find_by_id(trade.user1_item).title%></td>
			<td><%=Item.find_by_id(trade.user2_item).title%></td>
			<td><%=trade.description%></td>
			<td><%=button_to('Accept trade', trade_path(:id => trade.id, :status => 1), :method => :put) %></td>
			<td><%=button_to('Decline trade', trade_path(:id => trade.id, :status => 2), :method => :put) %></td>
		</tr>
	<%end%>
</table>


<hr>
<h3>Here are your current pending trades(Trades this user sent)</h3>
<table id='pendingTable'>
	<tr>
		<td>User your trying to trade with</td>
		<td>What your trying to trade for</td>
		<td>What your offering</td>
		<td>Message you gave on trade(trade description)</td>
	</tr>
	<%#pending trades should not be over 20%>
	<%#Trade.where(id = value) will return a database relation object which you can call take(n) to take up to n entries from and are put in an array %>
	<%Trade.where("user2 = #{current_user.id} and status=0").take(20).each do |trade| %>
		<td><%=User.find_by_id(trade.user1).username %></td>
		<td><%=Item.find_by_id(trade.user1_item).title %></td>
		<td><%=Item.find_by_id(trade.user2_item).title %></td>
		<td><%=trade.description%></td>
	<%end%>
</table>
