<h1>Listing items</h1>
 <% @items.each do |item| %>

<table id="itemDisplay">
  <thead>
    <tr>
      <td colspan="2"><h2><%= item.title %></h2></td>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= image_tag(item.itemimage, :width =>'120px', :height =>'120px') %></td>
        <td>
          <table id="itemInfo">
              <tr>
                <td id="leftCell">User:</td>
                <td><%= User.find_by_id(item.user_id).username %></td>
              </tr>
              <tr>
                <td id="leftCell" colspan="2">Description:</td>
              </tr>
              <tr>
                <td colspan="2"><%= sanitize(item.description) %>
                </td>
              </tr>
            </table>
          </td>
      </tr>

  </tbody>
  <tr>
    <td id="buttons" colspan="2">
      <%= link_to 'Show', item %> 
      |
      <%= link_to 'Edit', edit_item_path(item) %>
      |
      <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
</table>
    <% end %>
<br>

<%= link_to 'New Item', new_item_path %>
