<h1>Your Item</h1>

<p id="notice"><%= notice %></p>

<table id="itemDisplay">
	<thead>
		<tr>
			<td><h3><%= @item.title %></h3></td>
		</tr>
	</thead>
	<tr>
		<td><%= image_tag(@item.itemimage, :class => 'item_image') %></td>
		<td><%= @item.description %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
